#editor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 80;
    width:  700px;
    height: 80vh;
    border: solid 5px rgb(78, 95, 255);
    background-color: rgb(12, 16, 29);
    color: #D9E0EE;
    display: flex;
    flex-direction: column;
}
textarea.raw-text {
    resize: none;
    overflow-y: auto;
    flex: 3;
}
.text-view {
    margin: 0px 10px;
    background-color: #1E1E2E;
    box-sizing: border-box;
    color: #D9E0EE;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
}
div.latex {
    flex: 5;
    border: 1px solid grey;
    margin-bottom: 10px;
    overflow-y: auto;
}
.settings {
    background-color: rgb(20,20,30);
    border-bottom: 1px solid rgb(40, 40, 60);
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    margin: 7px;
    justify-content: flex-start;
}
.row button {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
}
#editor label.name {
    font-size: 18px;
}
#editor input.name {
    background-color: #1E1E2E;
    color: #4edaf3;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 15%;
    border: 1px solid grey;
}
#editor .text-color {
    width: 25px;
    height: 25px;
}
#editor .mode {
    background-color: #1E1E2E;
    color: #D9E0EE;
}
button.close {
    background-color: red;
    color: white;
}
button.save {
    background-color: blue;
    color: white;
}
button.del {
    background-color: lightgray;
    color: grey;
}
button.text {
    background-color: lightgray;
    color: black;
}
button.recompile {
    background-color: forestgreen;
    color: white;
}


/* remove color wrapper and input scroller */
input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* when using in other devices, maybe not needed*/
@media screen and (max-width:800px) {
    #editor {
        width: 90vw;
        height: 90vh;
    }
    #editor input.name {
        margin-right: 0;
    }
}