.tex_render {
    white-space: pre-wrap;
    min-height: 30px;
    min-width: 45px;
    padding: 5px;
    overflow-y: auto;
    resize: both;
    font-size: 16px;
    color: #D9E0EE;
    user-select: none;
    cursor: move;
}
.children {
    display: none;
}
.node {
    box-sizing: content-box;
    position: absolute;
    z-index: 9;
    border: 1px solid #96CDFB;
    border-radius: 10px;
}
.header {
    margin: 5px;
    text-align: center;
    color: #4edaf3;
    font-style: normal;
    font-size: 20px;
    font-family: serif;
}
body > .node.zoom > .children {
    margin: 8px;
    resize: none;
    flex-grow: 1;
}
body > .node.zoom {
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
    flex-grow: 1;
}
body > .node.zoom > .tex_render {
    pointer-events: none;
}
.highlighted, .zoom.highlighted, .define.highlighted {
    z-index: 12;
    border-width: 3px;
    border-color: #4E5FFF;
}
.zoom.highlighted {
    border-style: solid;
}
.highlighted.manual {
    border-color: #bee60c;
}
.dot {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 50000;
}

.leader-line {
    position: absolute;
    z-index: 15;
}
.leader-line path {
    pointer-events: all;
    cursor: help;
}
button.parent:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
button.parent {
    color: #4edaf3;
    background-color: transparent;
    border: none;
    padding: 1px 2px;
}
button.parent::after {
    content: ' /';
    white-space: pre;
}
div.toolbar {
    margin-left: auto;
}
@keyframes focus {
    0% { 
        transform: scale(0) translate(20%, 20%); 
    }    
    100% {
        transform: scale(1) translate(0, 0);
    }
}