#navigate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    background-image: url("https://png.pngtree.com/background/20210712/original/pngtree-cute-hand-drawn-style-math-education-plaid-background-picture-image_1176716.jpg");
    background-size: cover;
    margin: 0;
}
div.wrapper {
    max-width: 800px;
    background-color: white;
    margin: 0px auto;
}
 .content {
    padding: 10px;
}
#title {
    background-color: #1E1E2E;;
    color: #D9E0EE;
    height: 100px;
    display: flex;
    align-items: flex-end;
}
footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.wrapper >:not(#title) {
    margin: 10px;
}
figure > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figure > figcaption {
    text-align: center;
    font-style: italic;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}