.menu {
    background-color: #262644;
    width: 200px;
    position: absolute;
    z-index: 10000;
    overflow-y: auto;
    max-height: 45vh;
    padding-left: 0;
    border: 1px solid rgb(78,95,255);
}
.menu > li {
    list-style: none;
    display: flex;
    align-items: center;
    height: 25px;
    background-color: inherit;
    color: #D9E0EE;
    user-select: none;
    width: 100%;
    cursor: pointer;
}
.menu > li > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 25px;
    width: 35px;
}
.menu > li.highlight {
    background-color: #2727d1;
}
input.rename {
    position: absolute;
    background-color: #262644;
    color: #4edaf3;
    border: 2px solid;
    border-radius: 2px;
}